div {
	width: 75%;
	display: block;
	text-align: center;
	margin: 0 auto;
}

div h1 {
	float: left;
}

ul {
	list-style-type: none;
  	margin: 0;
  	padding: 0;
}

li {
	float: left;
}

li a:hover {
  	background-color: lightgrey;
}

li a {
	border: solid 1px;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

div img {
	text-align: center;
	width: 150px;
	height: 100px;
}

button, img {
	text-align: center;
}

.slide {
	display: none;
}